# /etc/systemd/system/data-logger-stack.service
# systemctl enable data-logger-stack

[Unit]
Description=MQTT Automation Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/root/docker-mqtt-automation
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target